* { margin: 0px; padding: 0px; }
body { overflow: hidden; font-size: arial, verdana, sans, sans-serif; color: #a26412; font-size: 14px; }
canvas { width: 100%; height: 100%; }
a { text-decoration: none; color: #f90; }
a:hover { color: #fff; }
.top-nav, #game, .bottom-nav {
    width: 100%;
	position: absolute;
	z-index: 1;
}
a.start-game {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border: 3px solid #a26412;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
}
a.start-game:hover {
	background-color: rgba(100,100,100,0.1);
}
.top-nav, .bottom-nav {
    height: 56px;
	z-index: 2;
	background-image: url(../images/background.png);
}
.top-nav {
	top: 0px;
	border-bottom: 5px solid #a26412;
}
.bottom-nav {
	bottom: 0px;
    border-top: 5px solid #a26412;
}
#game {
	height: auto;
	background-color: #000;
}
#buildmenu {
	display: none;
    position: absolute;
    z-index: 100;
    text-align: center;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    padding: 10px;
}
.building {
	cursor: pointer;
	margin-right: 10px;
}
.ui {
	position: absolute;
}
.ui-top {
	top: 0px;
	left: 0px;
	width: 100%;
}
#spawn-timer {
	text-align: center;
	position: absolute;
	left: 50%;
	width: 400px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin-left: -200px;
	top: 10px;
}
#lives, #currency {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	height: 36px;
	font-weight: bold;
	line-height: 36px;
	font-size: 22px;
	text-left: center;
	padding-left: 46px;
	min-width: 150px;
	background-repeat: no-repeat;
	background-image: url(../images/ui-lives.png);
}
#currency {
    background-image: url(../images/ui-currency.png);
}

#info-box {
	display: none;
	position: absolute;
	width: 250px;
	left: 50%;
	margin-left: -125px;
	bottom: 66px;
	padding: 10px;
    background-image: url(../images/background.png);
	border: 5px solid #a26412;
	
}