* { margin: 0px; padding: 0px; }
body { overflow: hidden; font-family: arial, verdana, sans, sans-serif; color: #a26412; font-size: 14px; }
canvas { width: 100%; height: 100%; }
a { text-decoration: none; color: #000; }
a:hover { color: #fff; }
.top-nav, #game, .bottom-nav {
    width: 100%;
	position: absolute;
	z-index: 1;
}
.top-nav #menu img {
	margin-left: 10px;
	margin-top: 10px;
} 
.top-nav {
    height: 48px;
	z-index: 2;
	background-image: url(../images/menu-background.png);
    top: 0px;
    border-bottom: 3px solid #000;
}
.bottom-nav {
    height: 105px;
    background-image: url(../images/building-background.png);
}
#about_info {
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	display: none;
	z-index: 100;
	padding: 20px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	width: 466px;
	height: 320px;
	left: 50%;
	top: 50%;
	margin-left: -258px;
	margin-top: -180px;
	background-image: url(../images/ui-menu-background.png);
	background-repeat: no-repeat;
	text-align: left;
}
#about_info a {
	color: #fff;
}
#about_info p {
	margin-bottom: 20px;
}
#about_info p:last {
	margin-bottom: 0px;
}
.bottom-nav {
	bottom: 0px;
    border-top: 3px solid #000;
}
#game {
	height: auto;
	background-color: #000;
}
#buildmenu {
	display: none;
    position: absolute;
    z-index: 100;
    text-align: center;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    padding: 10px;
}
.building {
	cursor: pointer;
	margin-right: 10px;
}
.ui {
	position: absolute;
}
.ui-top {
	top: 0px;
	left: 0px;
	width: 100%;
}
#spawn-wave {
	text-align: center;
	position: absolute;
    margin-top: 8px;
    display: inline-block;
    background-image: url(../images/currency-background.png);
    width: 110px;
    line-height: 18px;
	left: 50%;
	height: 96px;
	width: 96px;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	margin-left: -48px;
	line-height: 96px;
	top: 0px;
	z-index: 3;
	background-image: url(../images/spawn-background.png);
}
.currencies {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}
.currencies div, .spawn-wave {
    display: inline-block;
    margin-left: 10px;
    background-image: url(../images/currency-background.png);
    width: 110px;
    line-height: 18px;
    height: 25px;
    padding: 7px 10px 0px 10px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
.spawn-wave {
    cursor: default;
	 position: absolute;
	 top: 8px;
	 left: 50%;
	 margin-left: -75px;
 }
#spawn_percent {
    width: 130px;
    position: absolute;
    left: 4px;
	top: 4px;
	background-image: url(../images/wave-indicator.png);
	z-index: 1;
	width: 1%;
	height: 25px;
	max-width: 123px;
}
#spawn_waves {
    width: 130px;
    position: absolute;
    left: 0px;
	z-index: 2;
	text-align: center;
	height: 25px;
}
.currencies div.sub {
	color: #555;
}
.currencies div img {
	float: left;
}

#info-box {
	display: none;
	position: absolute;
	width: 250px;
	left: 50%;
	margin-left: -135px;
	bottom: 110px;
	padding: 10px;
    background-image: url(../images/building-background.png);
    border: 2px solid #000;
	
}